<div class="kv">拖动可框选元素；按住 Shift 点击可多选或取消选中。</div>
<div class="menu-group-title">框选过滤</div>
<div class="submenu-settings-row">
  <span>车站</span>
  <label class="toggle-switch">
    <input class="toggle-checkbox select-filter-toggle" type="checkbox" data-filter-type="station" checked />
    <span class="toggle-slider" aria-hidden="true"></span>
  </label>
</div>
<div class="submenu-settings-row">
  <span>连线</span>
  <label class="toggle-switch">
    <input class="toggle-checkbox select-filter-toggle" type="checkbox" data-filter-type="line" checked />
    <span class="toggle-slider" aria-hidden="true"></span>
  </label>
</div>
<div class="submenu-settings-row">
  <span>文本</span>
  <label class="toggle-switch">
    <input class="toggle-checkbox select-filter-toggle" type="checkbox" data-filter-type="text" checked />
    <span class="toggle-slider" aria-hidden="true"></span>
  </label>
</div>
<div class="submenu-settings-row">
  <span>图形</span>
  <label class="toggle-switch">
    <input class="toggle-checkbox select-filter-toggle" type="checkbox" data-filter-type="shape" checked />
    <span class="toggle-slider" aria-hidden="true"></span>
  </label>
</div>
<div class="submenu-settings-row">
  <span>子绘图</span>
  <label class="toggle-switch">
    <input class="toggle-checkbox select-filter-toggle" type="checkbox" data-filter-type="subDrawing" checked />
    <span class="toggle-slider" aria-hidden="true"></span>
  </label>
</div>