<div class="submenu-about-card">
  <div style="text-align:center;">
    <img src="favicon.webp" style="width:64px">
    <div>
      <span class="divBU">R</span>ail&nbsp;
      <span class="divBU">M</span>ap&nbsp;
      <span class="divBU">Creator</span>
    </div>
    <div>线路图绘制器</div>
    <div class="submenu-about-muted" id="rmcVersion"></div>
    <div class="submenu-about-muted">Copyright © IAFEnvoy & Copilot</div>
    <div class="submenu-about-muted">基于GPL-3.0协议开源</div>
    <a class="submenu-about-link" href="https://github.com/IAFEnvoy/RMCreator" target="_blank" rel="noopener">
      <img src="/img/platform/icon-github.svg" alt="GitHub" />
    </a>
    <a class="submenu-about-link" href="https://afdian.com/a/iafenvoy" target="_blank" rel="noopener">
      <img src="/img/platform/icon-afdian.png" alt="爱发电" />
    </a>
    <br>
    <button id="downloadApp" class="submenu-about-link tool-btn">
      <img src="/img/icon-download.svg">
      <span>下载桌面端</span>
    </button>
  </div>
</div>