<div class="settings-card-title">排列</div>
<div class="line-layer-actions" role="group" aria-label="线条层级">
  <button class="line-layer-action" type="button" data-line-layer-action="to-front" title="置顶" aria-label="置顶">
    <img src="/img/layer/icon-layer-bring-to-front.svg" alt="" />
  </button>
  <button class="line-layer-action" type="button" data-line-layer-action="to-back" title="置底" aria-label="置底">
    <img src="/img/layer/icon-layer-send-to-back.svg" alt="" />
  </button>
  <button class="line-layer-action" type="button" data-line-layer-action="up" title="上移" aria-label="上移">
    <img src="/img/layer/icon-layer-bring-forward.svg" alt="" />
  </button>
  <button class="line-layer-action" type="button" data-line-layer-action="down" title="下移" aria-label="下移">
    <img src="/img/layer/icon-layer-send-backward.svg" alt="" />
  </button>
  <button class="line-layer-action" type="button" data-line-layer-action="move-under" data-line-layer-mode="below"
    title="移到指定对象下面" aria-label="移到指定对象下面">
    <img src="/img/layer/icon-layer-down-to.svg" alt="" />
  </button>
  <button class="line-layer-action" type="button" data-line-layer-action="move-over" data-line-layer-mode="above"
    title="移到指定对象上面" aria-label="移到指定对象上面">
    <img src="/img/layer/icon-layer-up-to.svg" alt="" />
  </button>
</div>