<div class="settings-card-title">对齐</div>
<div class="align-actions" role="group" aria-label="对齐与分布">
  <button class="align-action" type="button" data-align-action="align-left" title="左对齐" aria-label="左对齐">
    <img src="/img/align/align-left-svgrepo-com.svg" alt="" />
  </button>
  <button class="align-action" type="button" data-align-action="align-right" title="右对齐" aria-label="右对齐">
    <img src="/img/align/align-right-svgrepo-com.svg" alt="" />
  </button>
  <button class="align-action" type="button" data-align-action="align-top" title="顶部对齐" aria-label="顶部对齐">
    <img src="/img/align/align-top-svgrepo-com.svg" alt="" />
  </button>
  <button class="align-action" type="button" data-align-action="align-bottom" title="底部对齐" aria-label="底部对齐">
    <img src="/img/align/align-bottom-svgrepo-com.svg" alt="" />
  </button>
  <button class="align-action" type="button" data-align-action="distribute-x" title="水平分布" aria-label="水平分布">
    <img src="/img/align/align-horizonta-spacing-svgrepo-com.svg" alt="" />
  </button>
  <button class="align-action" type="button" data-align-action="distribute-y" title="垂直分布" aria-label="垂直分布">
    <img src="/img/align/align-vertical-spacing-svgrepo-com.svg" alt="" />
  </button>
</div>